In [1]:
# Single line comment

In [ ]:
"""
Multiple
line
comment
"""

## Literal Constants

#### Numbers
    1. Integers
    2. Floats

#### Strings
    1. Single quotes
    2. Double quotes
    3. Triple quotes
    4. Escape Sequence (\n, \t, \r)
    5. Explicit line joining

In [2]:
a=5
print(a)
print(type(a))

5
<class 'int'>

In [3]:
a=5.0
print(a)
print(type(a))

5.0
<class 'float'>

In [4]:
a='H'
print(a)
print(type(a))

H
<class 'str'>

In [5]:
a='Hello'
print(a)
print(type(a))

Hello
<class 'str'>

In [6]:
a="Hello"
print(a)
print(type(a))

Hello
<class 'str'>

In [7]:
print('Hello\nWorld')

Hello
World

In [8]:
print('Hello\tWorld')

Hello	World

In [9]:
print('Hello\rBye') # Carriage return -> Move the cursor to the start of the same line.

Bye

## Variables
* Starts with a-z, A-Z, _ and can contain a-z, A-Z, 0-9, _
* Case Sensitive

In [10]:
a=10
a=20
a='Hello'
print(a)
print(type(a))

Hello
<class 'str'>

## Print Function
* Formatting
* **end** and **sep**

In [11]:
str="Capital of %s is %s"%("India","New Delhi")
print(str)

Capital of India is New Delhi

In [12]:
str="Capital of {} is {}".format("India","New Delhi")
print(str)

Capital of India is New Delhi

In [13]:
print("Hello",end=" ")
print("World")

Hello World

In [14]:
print("A","B","AB","BA",sep="\t")

A	B	AB	BA

## User Input

In [15]:
name=input()
print("Name: ",name)

Kush Yadav
Name:  Kush Yadav

In [16]:
age=input()
print("Age: ",age)
print(type(age))

21
Age:  21
<class 'str'>

In [17]:
age=int(input())
print("Age: ",age)
print(type(age))

21
Age:  21
<class 'int'>

In [18]:
li="10 20 30 40".split()
print(li)
num=[int(no) for no in li]
print(num)

['10', '20', '30', '40']
[10, 20, 30, 40]

In [19]:
num=[int(no) for no in input().split()]
print(num)

10 20 30 40
[10, 20, 30, 40]